.group {
  zoom: 1;
}
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
body {
  background-color: #f2f2f2;
}
body #myCarousel.carousel-fade .carousel-inner .item {
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -o-transition: opacity 2s;
}
body #myCarousel.carousel-fade .carousel-inner .item,
body #myCarousel.carousel-fade .carousel-inner .active.left,
body #myCarousel.carousel-fade .carousel-inner .active.right {
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
body #myCarousel.carousel-fade .carousel-inner .active,
body #myCarousel.carousel-fade .carousel-inner .next.left,
body #myCarousel.carousel-fade .carousel-inner .prev.right {
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
body #myCarousel.carousel-fade .carousel-inner .next,
body #myCarousel.carousel-fade .carousel-inner .prev,
body #myCarousel.carousel-fade .carousel-inner .active.left,
body #myCarousel.carousel-fade .carousel-inner .active.right {
  left: 0;
  transform: translate3d(0, 0, 0);
}
body #myCarousel.carousel-fade .carousel-inner .full-screen {
  width: 100%;
}
body .navbar {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.35)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35));
}
body .navbar a {
  color: #ffffff;
}
body .navbar .navbar-header .navbar-toggle {
  margin-top: 19px;
}
body .navbar .navbar-header .navbar-toggle span {
  background: rgba(255, 255, 255, 0.4);
}
body .navbar .navbar-collapse {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
body .navbar .navbar-collapse.in {
  background: #000000;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
body .navbar .navbar-nav li a:hover,
body .navbar .navbar-nav li a:active,
body .navbar .navbar-nav li a:focus {
  background: #000000;
}
body header {
  position: absolute;
  top: 15%;
  height: 200px;
  margin-top: -50px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  color: #ffffff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
}
body header .jumbotron {
  background: none;
}
body header .jumbotron img {
  width: 50%;
  height: 50%;
}
body header .jumbotron h1 .small {
  color: #ffffff;
}
body #instaGallery.embed-responsive-16by9 {
  padding-bottom: 76.25%;
}
